@font-face {
	font-family: 'Faceicons';
	src:url('/fonts/Faceicons.eot?-k6yecd');
	src:url('/fonts/Faceicons.eot?#iefix-k6yecd') format('embedded-opentype'),
		url('/fonts/Faceicons.woff?-k6yecd') format('woff'),
		url('/fonts/Faceicons.ttf?-k6yecd') format('truetype'),
		url('/fonts/Faceicons.svg?-k6yecd#Faceicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="faceicon-"], [class*=" faceicon-"] {
	font-family: 'Faceicons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.faceicon-man0:before {
	content: "\f600";
}
.faceicon-man1:before {
	content: "\f601";
}
.faceicon-man2:before {
	content: "\f602";
}
.faceicon-man3:before {
	content: "\f603";
}
.faceicon-man4:before {
	content: "\f604";
}
.faceicon-man5:before {
	content: "\f605";
}
.faceicon-man6:before {
	content: "\f606";
}
.faceicon-man7:before {
	content: "\f607";
}
.faceicon-man8:before {
	content: "\f608";
}
.faceicon-man9:before {
	content: "\f609";
}
.faceicon-man10:before {
	content: "\f60a";
}
.faceicon-man11:before {
	content: "\f60b";
}
.faceicon-man12:before {
	content: "\f60c";
}
.faceicon-woman0:before {
	content: "\f60d";
}
.faceicon-woman1:before {
	content: "\f60e";
}
.faceicon-woman2:before {
	content: "\f60f";
}
.faceicon-woman3:before {
	content: "\f610";
}
.faceicon-woman4:before {
	content: "\f611";
}
.faceicon-woman5:before {
	content: "\f612";
}
.faceicon-woman6:before {
	content: "\f613";
}
.faceicon-woman7:before {
	content: "\f614";
}
.faceicon-woman8:before {
	content: "\f615";
}
.faceicon-woman9:before {
	content: "\f616";
}
.faceicon-woman10:before {
	content: "\f617";
}
.faceicon-woman11:before {
	content: "\f618";
}
.faceicon-woman12:before {
	content: "\f619";
}
