<div class="HomeIndex { @color }">
  <div class="logo">
    <div>iSite.im</div>
    <div>сервис анонимного общения</div>
  </div>
  <div class="colors">
    <% %w(red orange yellow green azure blue violet ).each do |color| %>
    <a class="<%= color %>" href="@@update/color:<%= color %>"></a>
    <% end %>
  </div>
  <div class="gender_buttons">
    <div>Кто Вы? Парень или девушка?</div>
    <a href="@@update/gender:man">
      <span><i class="faceicon-man0"></i></span>
      <span>я парень</span>
    </a>
    <a href="@@update/gender:woman">
      <span><i class="faceicon-woman0"></i></span>
      <span>я девушка</span>
    </a>
  </div>
</div>
