$white-light:  #ECF0F1
$white-dark:   #BDC3C7

$grey-light:   #96A6A6
$grey-dark:    #808B8D

$black-light:  #34495E
$black-dark:   #2D3E50

$red-light:    #E74C3C
$red-dark:     #C0392B

$orange-light: #E67E22
$orange-dark:  #D35400

$yellow-light: #F1C40F
$yellow-dark:  #F39C12

$green-light:  #2ECC71
$green-dark:   #27AE60

$azure-light:  #1ABC9C
$azure-dark:   #16A085

$blue-light:   #3498DB
$blue-dark:    #2980B9

$violet-light: #AF7AC4
$violet-dark:  #8E44AD
