<div style="margin:2rem;border-radius:5px;padding:2rem;font-size:1.5rem;background:whitesmoke">
  <b style="font-size:2rem">Здравствуйте, <%= @user.name %>!</b>
  <div style="display: table; margin-top: 1rem">
    <p style="margin:0;display: table-cell; padding-right:1rem; font-size: 1.1rem; vertical-align: middle;">
      Чтобы войти в свой аккаунт на сервисе анонимного общения - iSite.im, нажмите кнопку
    </p>
    <a href="http://isite.im/user/auth/<%= @user.token %>" style="display:table-cell;background:#52bad5;padding:.5rem 3rem;border-radius:.3rem;text-decoration:none;color:white;float:right;font-weight:bold;font-size:2rem" target="_blank">Войти</a>
  </div>
</div>
