@import colors 
  
.UserSettings
  width:      100%
  height:     100%
  padding:    1rem
  box-sizing: border-box
  background: #e8e8e8

  input[type=text]
    width: 100%
    margin-bottom: .5rem

  p
    line-height: 1.5rem
    font-weight: bold

  .input_radio, center
    margin-bottom: .5rem

  center
    margin-top: .2rem

  .accept
    width: 40%

  small
    color: $grey-dark

  a[href="@@delete"], a[href="@@logout"]
    width: 70%