<p>Автологин</p>
<small>Наш сервис не использует пароли доступа, изначально Ваш аккаун привязан к браузеру, с которого вы
регистрировались, эта привязка не надежна и пропадет сразу же как только вы очистите историю браузера и
cookie. Более надежным будет доступ к сайту с помощью ссылки автологина, добавленной в закладки, её
также можно отправить себе на email ввиде кнопки и войти по ней с другого устройства.</small>
<center>
  <a class="accept" href="@@showBookmark">в закладки</a>
  <a class="accept" href="@@showEmail">на email</a>
</center>
<p>Выйти из аккаунта</p>
<small>Мы запоминаем Вас каждый раз когда Вы заходите с нового устройства, если Вы зашли с чужого компьютера,
перед уходом нажмите кнопку "выйти из аккаунта"</small>
<center>
  <a class="accept" href="@@showLogout">выйти из аккаунта</a>
</center>
<p>Удалить аккаунт</p>
<small>В любое время вы можете прекратить использование сервиса и удалить свой аккаунт, эта операция необратима,
вместе с аккаунтом будет удалена вся, связанная с ним, информация</small>
<center>
  <a class="accept" href="@@showDelete">удалить аккаунт</a>
</center>
