<div class="UserIndex { =stylize }">
  <div class="select">
    <i class="interface-chat"></i>
    <p>{ @name }, у Вас { @contacts.length } собеседник{ =ending }.
      Хотите нового? Включите поиск и мы найдем Вам его!
    </p>
  </div>
  <div class="search">
    <i class="interface-search"></i>
    <p>{ @name }, у Вас нет собеседников.</p>
    <p>Секундочку, мы подбираем Вам нового.</p>
    <p>
      Включите поиск и мы найдем Вам нового.<br /><br />
      <a class="accept" href="@@activateSearch">включить</a>
    </p>
  </div>
</div>
