<div class="UserInterface { @color }">

    <div class="toolbar">
      <div class="tools">
        <a class="button dialogs" href="@@toggleDialogs">
          <i class="interface-chat"></i>
        </a>
        <span class="title">{ @Application.title }</span>
        <a class="button face" href="/user">
          { face of @ }
        </a>
        <a class="button photos" href="@@showPhotos">
          <i class="interface-photos"></i>
        </a>
        <a class="button colors" href="@@showColor">
          <i class="interface-colors"></i>
        </a>
        <a class="button settings" href="/user/search">
          <i class="interface-settings"></i>
        </a>
        <a class="button { @search? }" href="@@toggleSearch">
          <i class="interface-search"></i>
          <i class="counter">{ @search }</i>
        </a>
      </div>
    </div>

    <div class="contacts">
      <div class="contactsWrapper">
        { index of @contacts }
      </div>
      <div class="online">Онлайн: { @Application.online }</div>
    </div>

    <div class="content">
      { yield }
    </div>

</div>
