<div class="wrapper">
  <div class="photos">
    <div class="selectionInfo">
      <div>
        <p>{ =selectedCount }</p>
      </div>
    </div>
    <div class="build">
      { build of @photo }
    </div>
    <div class="avatarInfo">
      <div>
        <p>Выберите фото для аватара</p>
      </div>
    </div>
    <div class="previews">
      { preview of @photos }
    </div>
    <div class="tools">
      <div class="notSelected">
        <a href="@avatarModeOn" class="accept">аватар</a>
        <a href="@selectModeOn" class="accept">отметить</a>
        <a href="@hide" class="deny">закрыть</a>
      </div>
      <div class="forSelected">
        <a href="@@deleteSelectedPhotos" class="accept">удалить</a>
        <a href="@@sendSelectedPhotos" class="accept">отправить</a>
        <a href="@selectModeOff" class="deny">отменить</a>
      </div>
      <div class="forAvatar">
        <a href="@avatarModeOff" class="deny">отменить</a>
      </div>
    </div>
  </div>
</div>
