<div class="wrapper">
  <div class="photos">
    <div class="selectionInfo">
      <div>
        <p>
          { =selectedCount }
        </p>
      </div>
    </div>
    { build of @photo }
    <div class="avatarInfo">
      <div>
        <p>
          Выберите фото для аватара
        </p>
      </div>
    </div>
    { preview of @photos }
    <div class="tools">
      <div class="notSelected">
        <a href="@selectAvatarOn" class="accept">аватар</a>
        <a href="@selectPhotosOn" class="accept">отметить</a>
        <a href="@hide" class="deny">закрыть</a>
      </div>
      <div class="forSelected">
        <a href="@@deleteSelectedPhotos" class="accept">удалить</a>
        <a href="@@sendSelectedPhotos" class="accept">отправить</a>
        <a href="@selectPhotosOff" class="deny">отменить</a>
      </div>
      <div class="forAvatar">
        <a href="@selectAvatarOff" class="deny">отменить</a>
      </div>
    </div>
  </div>
</div>
