<p>Кого искать</p>
<div class="radio_switch">
  <label><input type="radio" bind="who" value="man" />парней</label>
  <label><input type="radio" bind="who" value="woman" />девушек</label>
  <label><input type="radio" bind="who" value="all" />всех</label>
</div>
<p>Скольких сразу</p>
<div class="radio_switch">
  <label><input type="radio" bind="how" value="1" />{ =one }</label>
  <label><input type="radio" bind="how" value="2" />двух</label>
  <label><input type="radio" bind="how" value="3" />трех</label>
</div>
