@font-face {
	font-family: 'Interface';
	src:url('/fonts/Interface.eot?vozumf');
	src:url('/fonts/Interface.eot?#iefixvozumf') format('embedded-opentype'),
		url('/fonts/Interface.woff?vozumf') format('woff'),
		url('/fonts/Interface.ttf?vozumf') format('truetype'),
		url('/fonts/Interface.svg?vozumf#Interface') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="interface-"], [class*=" interface-"] {
	font-family: 'Interface';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.interface-search:before {
	content: "\e600";
}
.interface-chat:before {
	content: "\e607";
}
.interface-settings:before {
	content: "\e602";
}
.interface-colors:before {
	content: "\e604";
}
.interface-send:before {
	content: "\e605";
}
.interface-emoticons:before {
	content: "\e606";
}